.text-h1{
    color: rgb(113, 202, 44);
}

.card{
    border: solid 2px burlywood;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.btn{
    display: flex;
    justify-content:space-evenly;
    text-align:justify;
    margin: 5px;
}